name: Rust

on:
  push:
    branches: [ "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        include:
          - os: ubuntu-latest
            artifact_name: nsv
            asset_name: nsv-linux-amd64
          - os: windows-latest
            artifact_name: nsv.exe
            asset_name: nsv-windows-amd64.exe
          - os: macOS-latest
            artifact_name: nsv
            asset_name: nsv-macos-amd64
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: target/release/${{ matrix.artifact_name }}
        if-no-files-found: error
    - name: Prepare release asset
      if: startsWith(github.ref, 'refs/tags/')
      shell: bash
      run: |
        cp target/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}
    - name: Upload to release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ matrix.asset_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
